nav a,nav a:hover,nav a:active{
       color:black;
    }
nav button{
    border:none;
    border-radius:5px;
    padding:8px;
    color:white;
    background:black;
}

.toggle{
    display:none;
    border-top:2px solid black;
    border-bottom:2px solid black;
    width:30px;
    height:20px;
    padding-top:9px;
    padding-bottom:9px;
}
.toggle div{
  display:none;
}
.toggle::before{
    content:".";
    display:inline-block;
    width:100%;
    height:2px;
    background: black;
}

.toggle_links{
    display:none;
    margin-top:20px;
    width:100%;
}
  
@media only screen and (max-width: 920px) {
   .toggle{
      display:block !important;
      justify-self:end !important;
    }
    .nav-toggle{
      display:none !important;
    }
    .v-line{
      display:none;
    }
    nav> div >div:nth-child(3){
    display:none;
  }
}
