.impact-container{
    display:grid;
    row-gap:60px;
    column-gap: 40px;
}
@media only screen and (min-width:1200px) {
.impact-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.impact-container div:nth-child(5){
    grid-column: 1 / 3;
}
.impact-container div:nth-child(6){
    grid-column: 3 / 5;
}
}
@media only screen and (max-width:1200px) {
    .impact-container{
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-template-rows: 1fr 1fr !important;
    }
}
@media only screen and (max-width:900px) {
    .impact-container{
        grid-template-columns: 1fr 1fr  !important;
        grid-template-rows: 1fr 1fr 1fr!important;
    }
}
@media only screen and (max-width:650px) {
    .impact-container{
        grid-template-columns: 1fr  !important;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    }
    .impact-container div{
        max-width: 250px;
    }
}