.btn-filter{
    font-size:16px;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: white;
    background: black;
    width:100px;
    align-self: flex-start;
}
.parametres{
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
    flex-wrap: wrap;
}
.tag-element{
    padding: 4px;
    color: white;
    background: black;
    font-size:14px;
    border-radius: 5px;
    cursor: pointer;
}
.tags-container{
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
    flex-wrap: wrap;
}
@media only screen and (max-width:530px) {
    .parametres >select{
    font-size:10px !important;
}
   .parametres >input{
    font-size:10px !important;
}
.btn-filter{
        font-size:12px;
    padding: 4px;
    width:70px;
}
}