.statement{
    display: grid;
    row-gap:60px;
    column-gap: 40px;
    grid-template-columns: 1fr 2fr ;
    text-align: start;
    line-height: 24px;
    padding:50px;
    align-items: center;
}

.statement h3{
    padding:10px 0 ;
}
.statement p{
    font-size: 18px;
}
@media only screen and (max-width:800px) {
    .statement{
        grid-template-columns: 1fr ;
        
    }
    .statement h2{
        text-align: center;
    }
}