{% load static %}
<footer class="p-50">
    <div class="mt-50 flex-column row-gap-20">
        <div class="flex-row row-gap-30 flex-wrap">
            <div class="flex-column row-gap-20">
                <a href="{% url 'Pages:index' %}">
                <img src="{% static 'Pages/images/white_logo.png' %}" alt="1Palestine Logo" width="150px">
                </a>
                <div class="flex-row column-gap-30">
                    {% for link in links %}
                        <span><a href="{% url link.url %}">{{ link.label }}</a></span>
                     {% endfor %}
                </div>
            </div>
            <div>
                <h3 class="font-20 mb-10">Join newsletter</h3>
                <input class="newsletter p-5 pl-30 font-18" type="email" placeholder="Your email">
            </div>
        </div>
        <hr>
        <div>
            <p>© 2025 1Palestine</p>
        </div>
    </div>
</footer>
<style>
    footer a,footer a:hover,footer a:active{
       color:white;
    }
  footer div div div{
    flex-grow:3;
  }
  .newsletter{
    border-radius: 5px;
  }
</style>