{% extends 'Pages/base.html' %}
{% block content %}

  {% load static %}
    <main class ="flex-column  w-100">
    {% include 'Pages/components/slides.html' %}
  
  <div class="p-50 flex-column jc-center ai-center w-100">
    <div class="font-50">WHO WE ARE</div>
    <div class="font-30 text-center">
      1Palestine is the definitive digital resource uniting Palestinians and their allies with an unflinching, accurate narrative. By preserving heritage and dispelling damaging myths across all platforms, we build a deeply informed, connected community capable of advocating for justice and celebrating the enduring Palestinian identity.
    </div>
  </div>
  <span class="h-line"></span>
  <div class="p-50 flex-column jc-center ai-center row-gap-30">
    <div class="mt-50"><span class="font-30 weight-700" >Our Impact So Far</span></div>
    <div class="flex-row  jc-spacea flex-wrap w-100 row-gap-20">
    
      <div class="flex-column text-center row-gap-10">
          <img class="as-center" src="{% static 'Pages/images/reddit.png' %}" alt="reddit Icon" style="width:50px; height:50px;">
          <span class="font-30 weight-700">263K+</span>
          <p  class="font-14 weight-500 ellipsis">Members in r/Palestine, making it the largest Pro-Palestinian subreddit in the history of Reddit</p>
      </div>
      <span class="v-line"></span>
       <div class="flex-column text-center row-gap-10">
          <img class="as-center" src="{% static 'Pages/images/discord.png' %}" alt="Discord Icon" style="width:50px; height:50px;">
          <span class="font-30 weight-700">10k+</span>
          <p class="font-14 weight-500 ellipsis">Members in our Discord Community</p>
      </div>
      <span class="v-line"></span>
       <div class="flex-column text-center row-gap-10">
        <div class="font-24 weight-700">15k+</div>
          <span class="font-16 weight-700">Lorem ipsum dolor sit ame</span>
          <p class="font-14 weight-500 ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
      <span class="v-line"></span>
       <div class="flex-column text-center row-gap-10">
        <div class="font-24 weight-700">15k+</div>
          <span class="font-16 weight-700">Lorem ipsum dolor sit ame</span>
          <p class="font-14 weight-500 ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
     
    </div>
  </div>
</main>
<style>
  main >div{
    min-height:500px;
  }
  main >div:last-child p{
    max-width:250px;
  }
  .h-line{
    display:block;
    width:100%;
    height:2px;
    background:black;
  }
  .v-line{
    display:inline-block;
    width:2px;
    background:black;
  }
    @media only screen and (max-width: 920px) {

    .v-line{
      display:none;
    }

}
</style>
{% endblock %}